<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceWsSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceWsSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.edi-n.com:443/soap" binding="basicHttpBinding"
                bindingConfiguration="ServiceWsSoap11" contract="EdinServiceReference.ServiceWs"
                name="ServiceWsSoap11" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ConsoleApp1.Properties.Settings>
      <setting name="ConsoleApp1_edinsoap_ServiceWsService" serializeAs="String">
        <value>https://soap.edi-n.com:443/soap</value>
      </setting>
    </ConsoleApp1.Properties.Settings>
  </applicationSettings>
</configuration>